.header{
    font-size: larger;

}

body{
    background-color: rgb(26,25,25)
}

*{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    background-color: rgb(26, 25, 25)
}   

#button{
    color: black;
    background-color: white;
    position: relative;
    left: 5px;
}

.divButton{
    position: relative;
    right: 5px;
    top: 10px;
}

.filedownload{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.lakshanHeader{
    font-weight: bold;
}

.linkToBlog{
    position: relative;
    top: 30px;
    color: rgb(50, 50, 179);
}



#specifications{
    font-size: 135%;
    text-align: left;
    color: rgb(192, 190, 190);
}

#introSpec{
    font-size: 100%;
    text-overflow: ellipsis;
}

.blogName{
    font-size: 150%;
    color: rgb(192, 190, 190);
}

.ULlistForChip{
    padding-left: 1em;
}

.listForChip{
    color: rgb(192, 190, 190);
}

#blog{
    color: rgb(66, 66, 165);
}

#myArticles{
    text-decoration: underline;
}