*{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 246, 246);
    background-color: rgb(85, 140, 243);
}   




.header{
    font-size: 200%;
    text-align: center;

}

body{
    background-color: rgb(85, 140, 243)
}


#button{
    color: black;
    background-color: white;
    position: relative;
    left: 5px;
}

.divButton{
    position: relative;
    right: 5px;
    top: 10px;
}

.filedownload{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.lakshanHeader{
    font-weight: bold;
}

.linkToBlog{
    position: relative;
    top: 30px;
    color: rgb(50, 50, 179);
}



#specifications{
    font-size: 135%;
    text-align: left;
    color: white;
}

#introSpec{
    font-size: 100%;
    text-overflow: ellipsis;
}

.blogName{
    font-size: 150%;
    color: white;
}

.ULlistForChip{
    padding-left: 1em;
}

.listForChip{
    color: white;
}

#blog{
    color: rgb(66, 66, 165);
}

#myArticles{
    text-decoration: underline;

}

.graph{
    position: relative;
    right: 0px;
}

#sourcegraph{
    font-size: 10px;
}

.headerIphone{
    color: white;
}


.button{
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: rgb(193, 68, 180);
}


.visitor{
    position: relative;
    left: 95%;
}


